#encabezado{
    height: 100px;
    background-color: aquamarine;
}

#seccion{
    height: 500px;
    background-color:wheat;
}

#contRegistros{
    background-color: beige;
    height: 35px;
    width: 800px;
}

#pie{
    height: 80px;
    background-color: palevioletred;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
input, label{
    margin: 10px;
}